nav {
    padding: 20px 20px 20px 0
  }
  
  nav a {
    padding: 10px;
    text-decoration: none;
    background: #fff;
    border-radius: 3px;
    color: rgb(0, 110, 255);
    margin-right: 15px;
  }